includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src/Type
        - src/TypeStringifier
        - tests/TypeStringifier
    tmpDir: var/phpstan
    ignoreErrors:
        - { identifier: missingType.generics }
        - { identifier: possiblyImpure.methodCall }
